---
import { Image } from 'astro:assets';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>🧑‍🚀 Insightful Quotes!</h2>
			<p>
				Discover a world of inspiration with our app! Dive into a collection of insightful quotes designed to uplift your spirit, spark your creativity, and brighten your day. Whether you need motivation, a fresh perspective, or a dose of positivity, you'll find the perfect words to guide your journey. Start every day inspired!
			</p>
			<div style="display: flex; justify-content: center;">
				<Image src="/iq_dark.png" alt="A bird." width="400" height="400" />
				<Image src="/iq_light.png" alt="A bird." width="400" height="400" />
			</div>
		</main>
		<Footer />
	</body>
</html>
